go 1.21.0

use (
	./01_Gorgeous_Lasagna
	./02_Infiltration
	./03_Weather
	./04_Cars_Assemble
	./05_Tech_Palace
	./06_Party_Robot
	./07_Vehicule_Purchase
	./08_BlackJack
	./09_Need_Sped
	./10_Card_Trick
	./11_Randomness
	./12_Bird_Watcher
	./13_Lasagna_Master
	./14_Booking_Beauty
	./15_Gross_Store
	./16_Chessboard
	./17_LogsLogsLogs
	./18_ElectionDay
	./19_ElonToys
	./20_Census
	./21_Interest_Interesting
	./22_Parsing_LogsFile
)